<a href="https://colab.research.google.com/github/zwt4pb/mongolabfinal/blob/main/Mongo_Lab_Joe_Thompson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
!pip install pymongo

import os
import random
import datetime
import pymongo
import pprint
import pandas as pd

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [54]:
'''Exercise 1: Connecting to MongoDB
Import MongoClient from pymongo.
Connect to your local MongoDB instance (or a specified URI if using a remote database...like in the examples here -->https://github.com/jasonwnc/ds2002s24/tree/main/3.%20NoSQL
Print a list of databases in your MongoDB instance.'''


# Organize arguments for local and remote connections
host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "sakila"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/"
}

# Print connection strings
print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

# Connect to mongo atlas while handling exceptions
try:
    client = pymongo.MongoClient(conn_str['atlas'])
    print(client.list_database_names())
except pymongo.errors.ServerSelectionTimeoutError as err:
    print("Error connecting to MongoDB:", err)

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/
['AlbertHuang_class', 'AlyssaRask_class', 'DS2002Final', 'DiegoMcgrath_class', 'ElijahKim_class', 'Emaan_class', 'JackNickerson_class', 'JamesDraudt_class', 'JoeThompson_class', 'KevinZhang_class', 'Larissa_class', 'MaxChang_class', 'MiaArk_class', 'RainaVardhanapu_class', 'SebastianWiktorowicz_class', 'Siona_Pathak_class', 'StoreProducts', 'TenzinNargee_class', 'ValynGrebe_class', 'VarunPavuloori_class', '_class', 'aidantan_class', 'anagha_class', 'anisha_class', 'anne_class', 'api_project', 'blog', 'chasemullard_class', 'eva_class', 'grace_class', 'kaylasprincis_class', 'olivia_class', 'project', 'ronit_class', 'rushvi_class', 'sakila', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'sp_project2', 'sutherland_class', 'admin', 'local']

In [55]:
'''Exercise 2: Creating and Using a Database
Create a database called <yourname>_class
Print a list of collections in the database.'''

db_name = "JThompson_class"
db = client[db_name]
print(db.list_collection_names())

[]

In [56]:
'''Exercise 3: Creating a Collection and Inserting Documents
Create a collection named students.
Insert a single document into the students collection. Let it have 5 key value pairs
Insert multiple documents into the students collection in one operation.'''
# Create `students` collections
students = db["students"]

student1 = {"fname": "Joseph",
            "minitial": "B",
            "lname": "Thompson",
            "studentID": 115,
            "age": "21"}

# Insert single document with 5 key value pairs
post_id = students.insert_one(student1)


# Insert multiple documents with one operation
# Define student information for multiple students
students_data = [
    {
        "fname": "Marshall",
        "minitial": "R",
        "lname": "Epperson",
        "studentID": 106,
        "age": 21
    },
    {
        "fname": "Benjamin",
        "minitial": "A",
        "lname": "D'Amico",
        "studentID": 184,
        "age": 18
    },
    {
        "fname": "Matthew",
        "minitial": "J",
        "lname": "Lauture",
        "studentID": 122,
        "age": 21
    },
    {
        "fname": "Daniel",
        "minitial": "R",
        "lname": "Pappalardo",
        "studentID": 167,
        "age": 19
    }]

# Insert the documents into the 'students' collection
result = students.insert_many(students_data)

In [57]:
'''Exercise 4: Querying Documents
Perform a query to find all documents in the students collection.
Perform a query to find a document in the students collection with a specific attribute, lake name = mary or something based on the key valu fapl'''

# Find all documents in students
all_studs = students.find()
for stud in all_studs:
  print(stud)

# Find student with fname Marshall
print()
print("Student named Marshall:")
specific_stud = students.find_one(filter={"fname": "Marshall"})
print(specific_stud)

{'_id': ObjectId('660225c581de3f6f01749d61'), 'fname': 'Joseph', 'minitial': 'B', 'lname': 'Thompson', 'studentID': 115, 'age': '21'}
{'_id': ObjectId('660225c581de3f6f01749d62'), 'fname': 'Marshall', 'minitial': 'R', 'lname': 'Epperson', 'studentID': 106, 'age': 21}
{'_id': ObjectId('660225c581de3f6f01749d63'), 'fname': 'Benjamin', 'minitial': 'A', 'lname': "D'Amico", 'studentID': 184, 'age': 18}
{'_id': ObjectId('660225c581de3f6f01749d64'), 'fname': 'Matthew', 'minitial': 'J', 'lname': 'Lauture', 'studentID': 122, 'age': 21}
{'_id': ObjectId('660225c581de3f6f01749d65'), 'fname': 'Daniel', 'minitial': 'R', 'lname': 'Pappalardo', 'studentID': 167, 'age': 19}

Student named Marshall:
{'_id': ObjectId('660225c581de3f6f01749d62'), 'fname': 'Marshall', 'minitial': 'R', 'lname': 'Epperson', 'studentID': 106, 'age': 21}

In [59]:
'''Exercise 5: Updating Documents
Update a specific document in the students collection.
Update multiple documents based on a specific condition.'''

filter_criteria = {"fname": "Joseph"}
students.update_one(filter_criteria, {"$set": {"age": 23}})

# Update multiple documents
# if age is greater than 22, set degree to graduated
filter_criteria = {"age" : {"$lt": 22}}
students.update_many(filter_criteria, {"$set": {"degree": "Graduated"}})

UpdateResult({'n': 4, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711416982, 13), 't': 391}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711416982, 13), 'signature': {'hash': b'\xbb\xb2\xc4\xa4\xbbTM\x8c\xf1<A\xe0\xf4\x9c+c?\x98\x85\x9b', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711416982, 13), 'updatedExisting': True}, acknowledged=True)

In [52]:
'''Exercise 6: Deleting Documents
Delete a specific document from the students collection.
Delete multiple documents based on a specific condition.'''

students.delete_one({"lname": "Pappalardo"})

filter_criteria = {"age": {"$gt": 20}}
students.delete_many(filter_criteria)

print()
print("Updated database:")
all_studs = students.find()
for stud in all_studs:
  print(stud)

Updated database:
{'_id': ObjectId('66021d7581de3f6f01749d4c'), 'fname': 'Benjamin', 'minitial': 'A', 'lname': "D'Amico", 'studentID': 427, 'age': 18, 'degree': 'Graduated'}
{'_id': ObjectId('66021e5781de3f6f01749d51'), 'fname': 'Benjamin', 'minitial': 'A', 'lname': "D'Amico", 'studentID': 328, 'age': 18, 'degree': 'Graduated'}
{'_id': ObjectId('66021eaf81de3f6f01749d57'), 'fname': 'Benjamin', 'minitial': 'A', 'lname': "D'Amico", 'studentID': 103, 'age': 18, 'degree': 'Graduated'}
{'_id': ObjectId('66021f2081de3f6f01749d5b'), 'fname': 'Joseph', 'minitial': 'B', 'lname': 'Thompson', 'studentID': 115, 'age': '21'}
{'_id': ObjectId('66021f2081de3f6f01749d5d'), 'fname': 'Benjamin', 'minitial': 'A', 'lname': "D'Amico", 'studentID': 184, 'age': 18, 'degree': 'Graduated'}